<p id="notice"><%= notice %></p>

<p>
  <strong>Crust:</strong>
  <%= @pizza.crust_id %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @pizza.recipe_id %>
</p>

<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>

<h1>Ingredients</h1>
<h3>Pepperoni</h3>
<h3>Onions</h3>
<h3>Artichoke</h3>
