<p id="notice"><%= notice %></p>

<p>
  <strong>Ingredient:</strong>
  <%= @item.ingredient_id %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @item.recipe_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
